In [3]:
SELECT  sum(total_gross) from movie_gross WHERE YEAR(release_date) = 2016

(No column name)
2873393105

In [8]:
SELECT movie_title , total_gross , 
total_gross *1.0/(SELECT  sum(total_gross) from movie_gross WHERE YEAR(release_date) = 2016)  [% total_gross]
from movie_gross 
WHERE YEAR(release_date) = 2016

movie_title,total_gross,% total_gross
The Finest Hours,27569558,0.00959477418945083
Zootopia,341268248,0.11876838132803969
The Jungle Book,364001123,0.12667989018509181
A Beautiful Planet,7895708,0.00274786905636428
Captain America: Civil War,408084349,0.14202176106356321
Alice Through the Looking Glass,77042381,0.02681233586380447
Finding Dory,486295561,0.16924087419636235
The BFG,55483770,0.01930949507168111
Pete’s Dragon,76233151,0.02653070715153678
The Light Between Oceans,12545979,0.00436625917218521
Queen of Katwe,8874389,0.00308847020776852
Doctor Strange,232532923,0.08092624799418108
Moana,246082029,0.08564161602942246
Rogue One: A Star Wars Story,529483936,0.18427131849054812

In [24]:
SELECT movie_title , total_gross , 
(SELECT avg(total_gross) from movie_gross WHERE YEAR(release_date) = 2016)
from movie_gross 
WHERE YEAR(release_date) = 2016 AND total_gross > (SELECT avg(total_gross) from movie_gross WHERE YEAR(release_date) = 2016)

movie_title,total_gross,(No column name)
Zootopia,341268248,205242364
The Jungle Book,364001123,205242364
Captain America: Civil War,408084349,205242364
Finding Dory,486295561,205242364
Doctor Strange,232532923,205242364
Moana,246082029,205242364
Rogue One: A Star Wars Story,529483936,205242364