In [ ]:
SELECT m.movie_title , inflation_adjusted_gross , director , song
from movie_gross as m LEFT JOIN director as d on
    m.movie_title = d.movie_title LEFT JOIN disney_char as c on
    m.movie_title = c.movie_title

In [ ]:
with cte as (
    SELECT m.movie_title , inflation_adjusted_gross , director , song
        from movie_gross as m LEFT JOIN director as d on
            m.movie_title = d.movie_title LEFT JOIN disney_char as c 
            on m.movie_title = c.movie_title
)
SELECT top 5 with ties director , sum(inflation_adjusted_gross) [Sum]  FROM cte GROUP by director ORDER by [Sum] DESC

In [ ]:
select top 10 * from movie_gross

In [ ]:
with cte as (
    select genre , datepart(year , release_date ) [year], sum(inflation_adjusted_gross) [gross] from movie_gross
    WHERE genre in( 'Adventure' ,'Drama' , 'Action' ) and datepart(year , release_date ) > 2010
    GROUP by  datepart(year , release_date ) ,genre 
)
SELECT ad.year , ad.gross [Adventure], st.gross [Action] , dr.gross [Drama] 
from cte ad INNER join cte st on ad.year = st.year INNER join cte dr on st.year = dr.year and 
ad.genre= 'Adventure' and st.genre = 'Action' and dr.genre = 'Drama'