In [ ]:
SELECT top 10 * FROM movie_gross

In [ ]:
SELECT top 10 * FROM movie_gross WHERE mpaa_rating = 'G'

In [ ]:
SELECT Distinct mpaa_rating FROM movie_gross

In [ ]:
SELECT mpaa_rating , COUNT(*) [Cnt] FROM movie_gross GROUP by mpaa_rating

In [ ]:
SELECT top 10 ISNULL(mpaa_rating , 'G' ) from movie_gross

In [ ]:
SELECT top 10 * FROM movie_gross ORDER BY total_gross DESC

In [ ]:
SELECT * FROM movie_gross 
WHERE genre IN('Adventure' , 'Action') and mpaa_rating = 'PG-13'

In [ ]:
SELECT * from movie_gross WHERE movie_title LIKE '%toy%'

In [ ]:
SELECT * from movie_gross WHERE mpaa_rating is null

In [ ]:
SELECT top 10 with ties DATEPART( year , release_date ) [year]  FROM movie_gross ORDER BY [year]

In [ ]:
SELECT top 10 * from movie_gross 
OFFSET row FETCH NEXT 5 row ONLY

In [ ]:
SELECT top 10 * FROM movie_gross

In [ ]:
SELECT top 10 CONCAT(movie_title , ' (' , genre , ')') [title&genre] from movie_gross

In [ ]:
SELECT top 10 CONCAT(movie_title , ' (' , format(total_gross , 'N0') , ')') [title&genre] from movie_gross

In [ ]:
select top 5 * from director

In [ ]:
select director , 
CHARINDEX(' ' , director),
SUBSTRING(director , 1 ,CHARINDEX(' ' , director) -1 ) [firsname] ,
SUBSTRING(director ,CHARINDEX(' ' , director) , len(director) ) [lastname] ,
UPPER(SUBSTRING(director ,CHARINDEX(' ' , director) , len(director)) + ',' + LEFT(director ,1) + '.'  )
from director

In [ ]:
SELECT top 10  DATEDIFF(year , DATEPART(year , release_date), GETDATE()) [Age] from movie_gross ORDER by [Age]

In [ ]:
select top 5 DATEADD(year , 5 , DATEPART(year , release_date)) [year]
 FROM movie_gross ORDER by [year]

In [ ]:
SELECT genre , sum(total_gross) [sum total] from movie_gross  GROUP by genre ORDER by [sum total]

In [ ]:
SELECT movie_title , COUNT(*) from movie_gross
WHERE total_gross > 100e6
GROUP by movie_title
HAVING COUNT(*) > 1

In [ ]:
SELECt top 5 * from movie_gross ORDER by inflation_adjusted_gross DESC

In [ ]:
SELECt top 5 movie_title , inflation_adjusted_gross,
    case 
        when inflation_adjusted_gross between 1000e6 and 2000e6 then '1000e6-2000e6'
        when inflation_adjusted_gross between 2001e6 and 5000e6 then '2001e6-5000e6'
        when inflation_adjusted_gross > 5001e6 then '>5001e6'
    end as gross
from movie_gross 
ORDER by  inflation_adjusted_gross DESC