In [ ]:
SELECT top 70 PERCENT * into train from movie_gross

In [ ]:
with cte as(
    SELECT* from movie_gross
    EXCEPT
    SELECT * from train
)
SELECT * into test from cte

In [ ]:
SELECT distinct YEAR(release_date) FROM movie_gross

In [ ]:
SELECT YEAR(release_date) year, genre , sum(total_gross) gross from movie_gross GROUP by YEAR(release_date) , genre

In [ ]:
SELECT genre , [2001] , [2002] , [2003] , [2004] FROM (
    SELECT YEAR(release_date) year, genre , sum(total_gross) gross from movie_gross GROUP by YEAR(release_date) , genre
) d
PIVOT( 
    SUM(gross) for year in( [2001] , [2002] , [2003] , [2004] )
) pvt

In [ ]:
SELECT year , [Adventure] , [Action] , [Drama] ,
ISNULL(Adventure ,0) + ISNULL([Action] , 0) + ISNULL(Drama ,0 ) [total]
FROM (
    SELECT YEAR(release_date) year, genre , sum(total_gross) gross from movie_gross 
    where genre in('Adventure' , 'Action' ,'Drama')
    GROUP by YEAR(release_date) , genre
) d
PIVOT( 
    SUM(gross) for genre in( [Adventure] , [Action] , [Drama] )
) pvt
order by total desc่ง

In [4]:
SELECT top 5 * from revenue

year,studio_entertainment,disney_consumer_products,disney_interactive,walt_disney_parks_and_resorts,disney_media_networks,total
1991,2593,724,NULL,2794,NULL,6111
1992,3115,1081,NULL,3306,NULL,7502
1993,3673.4,1415.1,NULL,3440.7,NULL,8529
1994,4793,1798.2,NULL,3463.6,359,10414
1995,6001.5,2150,NULL,3959.8,414,12525

In [13]:
SELECT year, cat , re_n
from revenue
UNPIVOT(
    re_n for cat in(studio_entertainment ,disney_consumer_products)
) upt
where year > 2000

year,cat,re_n
2001,studio_entertainment,7004
2001,disney_consumer_products,2590
2002,studio_entertainment,6465
2002,disney_consumer_products,2440
2003,studio_entertainment,7364
2003,disney_consumer_products,2344
2004,studio_entertainment,8713
2004,disney_consumer_products,2511
2005,studio_entertainment,7587
2005,disney_consumer_products,2127
2006,studio_entertainment,7529
2006,disney_consumer_products,2193
2007,studio_entertainment,7491
2007,disney_consumer_products,2347
2008,studio_entertainment,7348
2008,disney_consumer_products,2415
2009,studio_entertainment,6136
2009,disney_consumer_products,2425
2010,studio_entertainment,6701
2010,disney_consumer_products,2678
2011,studio_entertainment,6351
2011,disney_consumer_products,3049
2012,studio_entertainment,5825
2012,disney_consumer_products,3252
2013,studio_entertainment,5979
2013,disney_consumer_products,3555
2014,studio_entertainment,7278
2014,disney_consumer_products,3985
2015,studio_entertainment,7366
2015,disney_consumer_products,4499
2016,studio_entertainment,9441

In [15]:
CREATE view reve_n as
    SELECT year, cat , re_n  from revenue
    UNPIVOT(
        re_n for cat in(studio_entertainment ,disney_consumer_products)
    ) upt

In [20]:
SELECT year , SUM(re_n) total from reve_n 
WHERE year >2010
GROUP by year ORDER by total DESC

year,total
2015,11865
2014,11263
2013,9534
2016,9441
2011,9400
2012,9077

In [21]:
SELECT cat , SUM(re_n) total from reve_n 
GROUP by cat ORDER by total DESC

cat,total
studio_entertainment,161125.9
disney_consumer_products,62185.3